

.card-product {
  overflow: hidden;
  height: 250px;
  background: white;

  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.card-product img {
  height: 90%;
  width: 130px;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/* Main navbar */
.navbar-farah {
  font-family: 'Secular One', sans-serif;
  background: white;
  transition: all 0.3s ease;
  border-bottom: 1px solid black;
  height: 70px  ;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar-farah {
  justify-content: space-between;
  background: white;
}

.navbar-farah .navbar-collapse {
  flex-grow: 0;
}

/* Right section */
.navbar-farah-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-farah-item {
  cursor: pointer;
  padding: 0 20px;

}

/* Navbar link */
.navbar-farah-link {
text-decoration: none!important;
font-size: 20px;
color: black;
/*text-shadow: 3px 3px #FFEB68;*/

}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  line-height: 2;
}

.banner h1 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  font-size: 50px;

}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.titre
{
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 20px;
  font-size: 30px;
/*  margin-bottom: 50px;*/
}


.titre-ouimum
{
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 30px;
  padding: 80px;

}

.sous-titre
{
  color: black;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 20px;
  font-size: 18px;
/*  margin-bottom: 50px;*/
}

.sous-titre-projet
{
  color: black;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.6;
  border: none;
  padding: 20px;
  font-size: 20px;
/*  margin-bottom: 50px;*/
}

.titre-projet
{
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 10px;
  font-size: 20px;
/*  margin-bottom: 50px;*/
}


.text-footer
{
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  padding : 60px;
/*  margin-bottom: 50px;*/
}

.message
{
  font-weight: lighter!important;
  font-size: 18px;
/*  margin-bottom: 50px;*/
}

.card {
  font-family: 'Poppins', sans-serif;
  border: none;
  padding: 20px;
/*  margin-bottom: 50px;*/

}

.card-text a {

color: #2f89fc;
text-decoration: underline;
}


.card-text a:hover {

color: #1060a0;
text-decoration: underline;
}

.card-text  {
font-size: 18px;
font-family: 'Open Sans', sans-serif;
color: black;
padding: 20px;
line-height: 1.7;
}

.card-text-entreprise  {
font-size: 16px;
font-family: 'Open Sans', sans-serif;
color: black;
opacity: 0.8;
padding: 20px;
line-height: 1.7;
}

.liste  {
list-style: circle;
  }

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.card img {
  max-width: 100%;
  height: auto;

}
.img-fluid {
  margin-bottom: 20px;
  margin-top: 20px;
/*  box-shadow: 0 4px 2px -2px gray;*/
}

.img-about {
  margin-bottom: 20px;
  margin-top: 150px;
/*  box-shadow: 0 4px 2px -2px gray;*/
}


.bourdieu {
  margin-top: 50px;
  box-shadow: 0 4px 2px -2px gray;

}


.action .btn {
  background-color: #47E6B1;
  border: none;
}

.action {
  padding-top: 30px;
  padding-bottom: 30px;
}

.phone {
  max-width: 49%;
  height: auto;
}




.container {
 width: 100%;
}
.pumpkin
{
 border-bottom: 5px solid #F01C1C;
}

.romarin
{
 border-bottom: 5px solid #F01C1C;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.footer {
  background: #17223b;
  display: flex;
  align-items: center;

  justify-content: space-between;
  height: 400px;

  color: rgba(0,0,0,0.3);
}

.btn-ghost {
  margin-top: 20px;
  color: white;
  background: #2f89fc;
  border: 1px solid #2f89fc;
  padding: 8px 24px;
  border-radius: 50px;
  font-family: 'Open Sans';
  font-weight: lighter;

  transition: opacity 0.5s ease;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-ghost:hover {
  color: white;
  opacity: 1.3;
  /*font-size: 17px;*/
  transform: translateY(-7px);
}

.v {
  font-family: 'Open Sans';
  color: #CCC;
  font-size: 18px;
}

.footer-two {
  background: #17223b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: white;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  transform: translateY(-7px);
}
.footer .fa-heart {
  color: red;
}


/* header */

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;

}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
/*  background-color: #fff;*/
}

.header li a {
  display: block;
  padding: 20px 20px;
  font-family: 'Poppins';
  color: black;

  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
color: black;
  text-decoration: none;
  background-color: white;
}


.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  padding: 10px 10px;
  line-height: 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
    text-decoration: none;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: black;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin-right: 0px!important;
margin-left: 0px!important;
}

.logo {
  font-family: 'Poppins', sans-serif;
  color: black;
}


.mer {
text-decoration: #92d4f3 wavy underline;
text-decoration-thickness: 15px;
display: inline-block;

  }

  #lettre {
letter-spacing: 3px;
  }


.postit {
  margin-bottom: 20px;
  margin-top: -100px;
  margin-left: 10%;
  z-index: 1;
/*  box-shadow: 0 4px 2px -2px gray;*/
}
